@page "/registration"
@using LoginFlowInMauiBlazorApp1.Models;
@using LoginFlowInMauiBlazorApp1.Services;
@inject IAppService AppService;

<h3>Registration</h3>

<EditForm Model="@registrationModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Primeiro nome</label>
        <input type="text" class="form-control" @bind-value="registrationModel.FirstName" placeholder="digite o primeiro nome" />
        <ValidationMessage For="@(()=> registrationModel.FirstName)" />
    </div>

    <div class="form-group">
        <label>Último nome</label>
        <input class="form-control" @bind-value="registrationModel.LastName" placeholder="digite o último nome" />
        <ValidationMessage For="@(()=> registrationModel.LastName)" />

    </div>
    <div class="mt-2 form-group">
        <label>Genero</label>
        <div class="d-flex flex-row">
            <div class="col-4 d-flex justify-content-between">
                <div class="form-check">
                    <input @onchange="@(()=> registrationModel.Gender="Homem")" class="form-check-input" type="radio" name="flexRadioDefault" />
                    <label class="form-check-label" for="flexRadioDefault1">
                        Homem
                    </label>
                </div>
                <div class="form-check">
                    <input @onchange="@(()=> registrationModel.Gender="Mulher")" class="form-check-input" type="radio" name="flexRadioDefault" />
                    <label class="form-check-label" for="flexRadioDefault2">
                        Mulher
                    </label>
                </div>
            </div>
        </div>
        <ValidationMessage For="@(()=> registrationModel.Gender)" />
    </div>

    <div class="form-group">
        <label>Email address</label>
        <input type="email" @bind-value="registrationModel.UserName" class="form-control" placeholder="Digite email" />
        <ValidationMessage For="@(()=> registrationModel.UserName)" />
    </div>
    <div class="mt-2 form-group">
        <label>Password</label>
        <input type="password" @bind-value="registrationModel.Password" class="form-control" placeholder="Digite a senha" />
        <ValidationMessage For="@(()=> registrationModel.Password)" />
    </div>

    <div class="mt-2 text-end">
        <NavLink class="nav-link" href="/">
            <span>Já possui conta? entre com seu login</span>
        </NavLink>
    </div>

    <div class="text-center mt-2">
        <button class="btn btn-primary" type="submit">
            <span class="@_spinnerClass" role="status" aria-hidden="true"></span>
            Register
        </button>
    </div>
</EditForm>

@code {
    RegistrationModel registrationModel = new();
    private string _spinnerClass = "";

    private async void Submit()
    {
        _spinnerClass = "spinner-border spinner-border-sm";
        var response = await AppService.RegistrationUser(registrationModel);

        if (response.IsSuccess)
        {
            await App.Current.MainPage.DisplayAlert("Sucesso", "Usuário criado com sucesso!", "Ok");
        }
        else
        {
            await App.Current.MainPage.DisplayAlert("Oops", response.ErrorMessage, "Ok");
        }
        _spinnerClass = "";
    }

    private void SetGender(string gender)
    {
        registrationModel.Gender = gender;
    }
}
